<ion-header translucent>
  <ion-toolbar color="primary">
<ion-title  style=" text-align: center">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <ion-card>
<ion-list  lines="none" style="margin: 10px" >
 <ion-item style="margin-bottom:  10px" lines="none" color="success">
   <ion-icon name="person-circle"></ion-icon>
  <ion-label  position="floating">User name</ion-label>
  <ion-input type="text"></ion-input>
</ion-item>

  <ion-item color="success">
    <ion-icon name="key"></ion-icon>
    <ion-label position="floating">password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <div style="text-align: center">
<ion-button shape="round" color="warning">login</ion-button>
  <ion-button shape="round" color="warning">signup</ion-button>
  </div>
</ion-list>
  </ion-card>
</ion-content>
